<% first_product = Product.first %>
    <p>
      Product Name: "<%= first_product.name %>"" costs $<%= first_product.price %>
    </p>


    <p>
      The seller for this product is named '<%= first_product.user.name %>'
    </p
